* {
    margin: 0%;
    color: rgb(210, 210, 234);
}

body {
    background-color: var(--background-color);
}

button {
    background-color: rgb(32, 31, 39);
    height: 260%;
    padding: auto;
    display: inline;
    outline: none;
    border: none;
    font-size: 15px;
    margin: 0px 10px;
}

.a {
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
}

.mainTitle {
    text-align: center;
    margin-top: 3%;
}

.content {
    text-align: center;
}

.contentBox {
    width: 34%;
    text-align: center;
    border: 5px rgb(126, 88, 185) solid;
    background-color: rgb(255, 255, 255);
    margin: 5%;
    border-radius: 12px;
    padding: 2%;
    display: inline-block;
}

@media (min-width:900px) {
    .contentBox {
        width: 18.5%;
    }
}

.contentBoxTitle {
    color: black;
}

.contentBoxDescription {
    color: black;
    margin: 5%;
}

.contentBoxLink {
    color: black;
}

.actionBtn {
    background-color: rgb(126, 88, 185);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 5px;
}
